# constants exposed by package

# functions exposed by package

# required packages
import( data.table )
import( plotly )
import(Rcpp)
import(methods)
importFrom(rstan, sampling)
importFrom(rstantools, rstan_config)
importFrom(RcppParallel, RcppParallelLibs)
useDynLib(rPQ, .registration = TRUE)
